services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
      - ./backend/db:/docker-entrypoint-initdb.d:ro
  #   healthcheck:
  #        test: ["CMD-SHELL", "pg_isready -U postgres"]
  #        interval: 5s
  #        timeout: 5s
  #        retries: 5
  #
  # backend:
  #   build: ./src
  #   image: backend:latest
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   ports:
  #     - "8080:8080"
  #   environment:
  #     - DATABASE_URL=postgres://postgres:postgres@postgres:5432/user_passwords?sslmode=disable
volumes:
  pgdata:



